@if (isMobile) {
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Descrição do produto
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Descrição do produto</ion-title>
    </ion-toolbar>
  </ion-header>

  @if(isLoaded){

  <div class="container-img-mobile">
    @if(produto.imagens.length > 0){
    <img class="img-principal-mobile" [(src)]="produto.imagens[indexImagem].url" alt="Isso é o carro, {{produto.nome}}">
    @if(produto.imagens.length > 1){

    <div class="select-container-mobile">
      @for(imagem of produto.imagens; track $index){
      <img class="img-list-item" [ngClass]="{'selected': $index === indexImagem}" [src]="imagem.url"
        alt="{{produto.nome}}" (click)="selectImg($index, $event)">
      }
    </div>
    }
    }@else {
    <ion-icon class="imgNotFound" color="primary" name="car-sport-outline"></ion-icon>
    }
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-label>
          <h1>{{produto.nome}}</h1>
          <p>{{produto.preco | formatPrice }}</p>
        </ion-label>

        @if(!produto.indisponivel){
        <ion-label class="estoque">
          <ion-icon name="basket-outline" color="primary"></ion-icon>
          <p>Uni. {{produto.estoque}}</p>
        </ion-label>
        }@else{
        <ion-label color="warning" class="estoque-invalido">
          <h1>Indisponivel</h1>
        </ion-label>
        }

      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <hr>

      <ion-button fill="outline" shape="round" expand="full" [disabled]="produto.indisponivel"
        (click)="addCarrinho(produto.id!)">Adicionar ao carrinho
        <ion-icon slot="end" name="cart-outline" size="large"></ion-icon>
      </ion-button>

      <ion-label>
        <p class="descricao">{{produto.descricao}}</p>
      </ion-label>
    </ion-card-content>

  </ion-card>
  }@else {

  <div class="container-img-mobile">
    <ion-skeleton-text [animated]="true" class="skeleton-img"></ion-skeleton-text>

    <div class="select-container-mobile">
      <ion-skeleton-text [animated]="true" class="skeleton-img-list-item"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true" class="skeleton-img-list-item"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true" class="skeleton-img-list-item"></ion-skeleton-text>
    </div>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-label>
          <h1><ion-skeleton-text animated /></h1>
          <p><ion-skeleton-text animated /></p>
        </ion-label>
        <ion-label>
          <ion-skeleton-text animated class="estoque-skeleton" />
        </ion-label>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <hr>

      <ion-button fill="outline" shape="round" disabled expand="full" (click)="addCarrinho(produto.id!)">Adicionar ao
        carrinho
        <ion-icon slot="end" name="cart-outline" size="large"></ion-icon>
      </ion-button>

      <ion-label>
        <ion-skeleton-text animated class="skeleton-mobile" />
        <ion-skeleton-text animated class="skeleton-mobile" />
        <ion-skeleton-text animated class="skeleton-mobile" />
        <ion-skeleton-text animated class="skeleton-mobile" />
        <ion-skeleton-text animated class="skeleton-mobile" />
        <ion-skeleton-text animated class="skeleton-mobile" />
        <ion-skeleton-text animated class="skeleton-mobile-final" />
      </ion-label>
    </ion-card-content>
  </ion-card>
  }


</ion-content>
}@else {

<ion-content>
  <div class="container">

    <div class="container-produto">

      @if(isLoaded){

      <div class="conteinerImg">
        @if(produto.imagens.length > 0){
        <img class="imgPrincipal" [(src)]="produto.imagens[indexImagem].url" alt="Isso é o carro, {{produto.nome}}">
        @if(produto.imagens.length > 1){

        <div class="select-container">
          @for(imagem of produto.imagens; track $index){
          <img class="img-list-item" [ngClass]="{'selected': $index === indexImagem}" [src]="imagem.url"
            alt="{{produto.nome}}" (click)="selectImg($index, $event)">
          }
        </div>
        }
        }@else {
        <ion-icon class="imgNotFound" color="primary" name="car-sport-outline"></ion-icon>
        }
      </div>

      <div class="container-desc">
        <h1 class="nome">{{produto.nome}}</h1>
        <p class="preco">{{produto.preco | formatPrice }}</p>
        @if(!produto.indisponivel){
        <ion-label class="estoque">
          <ion-icon name="basket-outline" color="primary"></ion-icon>
          <p>Uni. {{produto.estoque}}</p>
        </ion-label>
        }@else{
        <ion-label color="warning">
          <h1 style="font-size: 3em; text-decoration: underline;">Indisponivel</h1>
        </ion-label>
        }

        <hr>
        <div class="compra-container">
          <ion-button fill="outline" shape="round" size="large" [disabled]="produto.indisponivel"
            (click)="addCarrinho(produto.id!)">Adicionar ao carrinho
            <ion-icon slot="end" name="cart-outline" size="large"></ion-icon>
          </ion-button>
          <!-- <ion-button fill="outline" shape="round" size="large" color="success" [disabled]="produto.indisponivel">Comprar
            <ion-icon slot="end" name="cash-outline" size="large"></ion-icon>
          </ion-button> -->
        </div>
        <p class="descricao">{{produto.descricao}}</p>

      </div>

      }@else {

      <div class="conteinerImg">
        <ion-skeleton-text [animated]="true" class="skeleton-img"></ion-skeleton-text>

        <div class="select-container">
          <ion-skeleton-text [animated]="true" class="skeleton-img-list-item"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" class="skeleton-img-list-item"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" class="skeleton-img-list-item"></ion-skeleton-text>
        </div>
      </div>


      <div class="container-desc">
        <p><ion-skeleton-text [animated]="true" class="skeleton-nome"></ion-skeleton-text></p>
        <p><ion-skeleton-text [animated]="true" class="skeleton-preco"></ion-skeleton-text></p>
        <p><ion-skeleton-text [animated]="true" class="skeleton-descricao"></ion-skeleton-text></p>
        <p><ion-skeleton-text [animated]="true" class="skeleton-descricao-conteudo"></ion-skeleton-text></p>
        <p><ion-skeleton-text [animated]="true" class="skeleton-descricao-conteudo"></ion-skeleton-text></p>
        <p><ion-skeleton-text [animated]="true" class="skeleton-descricao-conteudo"></ion-skeleton-text></p>
        <p><ion-skeleton-text [animated]="true" class="skeleton-descricao-conteudo"></ion-skeleton-text></p>
        <p><ion-skeleton-text [animated]="true" class="skeleton-descricao-conteudo"></ion-skeleton-text></p>
        <p><ion-skeleton-text [animated]="true" class="skeleton-descricao-conteudo"></ion-skeleton-text></p>
        <p><ion-skeleton-text [animated]="true" class="skeleton-descricao-conteudo"></ion-skeleton-text></p>
        <p><ion-skeleton-text [animated]="true" class="skeleton-descricao-conteudo"></ion-skeleton-text></p>
        <p><ion-skeleton-text [animated]="true" class="skeleton-descricao-conteudo"></ion-skeleton-text></p>
        <p><ion-skeleton-text [animated]="true" class="skeleton-descricao-conteudo"></ion-skeleton-text></p>
        <p><ion-skeleton-text [animated]="true" class="skeleton-descricao-conteudo"></ion-skeleton-text></p>
        <p><ion-skeleton-text [animated]="true" class="skeleton-descricao-conteudo-final"></ion-skeleton-text></p>
      </div>

      }
    </div>

  </div>

</ion-content>

}

<ion-toast [isOpen]="isToastOpen" [message]="msg.message" [duration]="5000" (didDismiss)="setOpen(false)"
  [color]="isError ? 'danger' : 'success'" [icon]="isError ? 'close-circle' : 'bag-add'">
</ion-toast>
