@if(isMobile){
@for(categoria of categories; track categoria.CATEGORIA_ID) {
<ion-label class="ion-padding">
  <h1>{{categoria.CATEGORIA_NOME}}</h1>
</ion-label>

<div class="cards-list-mobile" scrollX="true">
  @for(produto of categories[$index].produtos; track produto.PRODUTO_ID){

  <div class="card">
    <ion-card button (click)="goToDesc(produto.PRODUTO_ID)">
      <img class="imgCard" alt="img is {{produto.PRODUTO_NOME}}" [src]="produto.produto_imagem[0].IMAGEM_URL" />
      <ion-card-header>
        <ion-card-title>{{produto.PRODUTO_NOME}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{formatPromo(produto.PRODUTO_PRECO, produto.PRODUTO_DESCONTO)}}
        <span>
          {{formatPrice(produto.PRODUTO_PRECO)}}
        </span>
      </ion-card-content>
    </ion-card>
  </div>
  }
</div>
}

}@else {

@for(categoria of categories; track categoria.CATEGORIA_ID) {

<ion-label class="ion-padding">
  <h1 class="web-title">{{categoria.CATEGORIA_NOME}}</h1>
</ion-label>

<div class="cards-list-web web-container">

  @for(produto of categories[$index].produtos; track produto.PRODUTO_ID;) {

  <ion-card class="card" button (click)="goToDesc(produto.PRODUTO_ID)">
    <img class="imgCard" alt="img is {{produto.PRODUTO_NOME}}" [src]="produto.produto_imagem[0].IMAGEM_URL" />
    <ion-card-header>
      <ion-card-title>{{produto.PRODUTO_NOME}}</ion-card-title>
      <!-- <ion-card-subtitle>{{produto.PRODUTO_DESC}}</ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>
      {{formatPromo(produto.PRODUTO_PRECO, produto.PRODUTO_DESCONTO)}}
      <span>
        {{formatPrice(produto.PRODUTO_PRECO)}}
      </span>
    </ion-card-content>
  </ion-card>

  }

</div>
}
}
