<footer class="container">
  <div class="footer-content">


    <img src="../../../assets/padrao.svg" alt="Logo Bravo">

    <div class="footer-info-autor">
      <ion-label>
        <h3>Bravo</h3>
        <p>Bravo - Todos os direitos reservados</p>
        <p>Desenvolvido por <a href="https://www.linkedin.com/in/lucassantosc/" target="_blank">Lucas S. Campos</a></p>
      </ion-label>
    </div>

    <div class="footer-info-endereco">
      <ion-label>
        <h3>Endereço:</h3>
        <p>Centro universitário Senac</p>
        <p>Av. Engenheiro Eusébio Stevaux, 823 - Santo Amaro, São Paulo - SP, 04696-000</p>
      </ion-label>
    </div>

    <div class="footer-info-about">
      <ion-label>
        <h3>Duvidas e suas respostas:</h3>
        <p>Como faço para comprar? Simples, não compra! Isso é um projeto de faculdade.</p>

        <h3>Conheça-nos:</h3>
        <p>Bravo é um projeto de faculdade, desenvolvido por Lucas S. Campos, aluno do Centro Universitário Senac.</p>
      </ion-label>
    </div>

  </div>

</footer>
