<ion-header>
  <ion-toolbar>

    <div class="header-content">

      <a (click)="home()">
        <img src="../../../assets/padrao.svg" alt="Logo do bravo" />
      </a>

      <div class="buttons-container">
        @if (userAuthenticated) {
        <ion-button fill="outline" shape="round" (click)="perfil()">Seu perfil</ion-button>
        <ion-button fill="outline" shape="round">Carrinho</ion-button>
        }
        @if (userAuthenticated) {
        <ion-button fill="outline" shape="round" (click)="logout()">Sair</ion-button>
        }@else {
        <ion-button fill="outline" shape="round" (click)="login()">Logar</ion-button>
        }

      </div>
    </div>

  </ion-toolbar>
</ion-header>
