<ion-header>
  <ion-toolbar>

    <div class="header-content">

      <a routerLink="/" routerLinkActive="router-link-active" >
        <img src="../../../assets/padrao.svg" alt="Logo do bravo" />
      </a>

      <div class="buttons-container">
        <ion-button fill="outline" shape="round">Seu perfil</ion-button>
        <ion-button fill="outline" shape="round">Carrinho</ion-button>
        <ion-button fill="outline" shape="round">Logar</ion-button>
      </div>
    </div>

  </ion-toolbar>
</ion-header>
