section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;

  .container-endereco {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form {
      width: 90%;
      height: auto;
      margin: 20px;

      .endereco-container {
        display: flex;
        gap: 20px;
        width: 100%;
      }

      h1 {
        font-size: 3rem;
        margin-bottom: 20px;
      }

      hr {
        width: 85%;
        height: 1px;
        background: #606060;
        margin: 20px;
      }

      ion-label {
        font-size: 1.5rem;
        margin: 0px 20px;
      }

      ion-input {
        margin-bottom: 20px;
      }

      ion-button {
        width: 80%;
      }

      p {
        a {
          font-weight: bold;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

  }

  .container-enderecos-salvos {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-height: 100%;/* Define a altura máxima para o contêiner */
    overflow-y: auto;/* Adiciona a barra de rolagem vertical */
    padding-right: 10px;

    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }
  }

}

.form-mobile {
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .btn-mobile{
      width: 100%;
    }
  }

}

ion-input {
  --border-color: #606060;
  --highlight-color-invalid: #e02d3c;
  --highlight-color-valid: #08875D;
  font-size: large;
}

@media(prefers-color-scheme: light) {
  .container-cadastro {
    --background: #F1F3F9;
  }

  h1 {
    color: #3c3c3c;
  }

  ion-input {
    --border-color: #606060;
    --highlight-color-focused: #3c3c3c;
    --highlight-color-invalid: #e02d3c;
    --highlight-color-valid: #08875D;
    --color: #000000;
  }
}

.divider {
  width: 1px;
  height: 700px;
  margin: 100px 30px;
  background: #606060;
}


.container-enderecos {
  max-height: 700px;
  min-height: 600px;
}
