@if (isMobile) {
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>
}

<ion-content>
  @if (isMobile) {
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produtos</ion-title>
    </ion-toolbar>
  </ion-header>
  }

  <div class="container">
    <app-pesquisa [categories]="categoriesWithProducts" [isLoaded]="isLoaded" (namesCategorys)="updateCategories($event)"></app-pesquisa>
  </div>

  <div class="container">
    <app-card [categories]="categoriesWithProducts" [isLoaded]="isLoaded"></app-card>
  </div>

  @if (!isMobile) {
    <app-footer></app-footer>
  }
</ion-content>
